
@use '~@deip/vue-elements/lib/styles/main';

.v-application {
  --v-primary-hover: #F2F2F2;
  --app-bar-height: calc(100vh - 56px);

  .theme--light {
    .v-btn.v-btn--icon {
      color: currentColor;
    }
  }

  .v-btn--active.no-active::before {                                                                             
    opacity: 0 !important;
  }

  .w-100 {
    width: 100%;
  }

  .text-button-2 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
  }

  .text-subtitle-3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }
}

